* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #a8b3ac;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid #a8b3ac;
    display: block;
    padding-left:10px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 0;
}

#adminlogin {
    background-color: aliceblue;
    color: black;
    height: 30px;
}

#userlogin {
    background-color: aliceblue;
    color: black;
    height: 30px;
}

#signup {
    background-color: aliceblue;
    color: black;
    height: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    margin-right:10%;
    margin-left:10%;
}

ul li {
float: left;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #111111;
}

.class1{
    text-align: center;
    text-justify: auto;
    font-size: 40px;
    background-image:url("../img/background_image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display:flex;
    justify-content:center;
    align-items: center;
    color: black;
    height: 20vh;
    margin-top: 5px;
    margin-left:10%;
    margin-right:10%;
}

.contents {
    padding:50px;
    padding-top:25px;
    margin-left:8%;
    margin-right:8%;
}

.contents img { 
    width:200px; 
    height:200px;
    object-fit:cover;
    margin:10px; 
    cursor:pointer; 
    border: gray solid;
}

.modal {
    display:none;
    position:fixed;
    top:20%;
    left:35%;
    background:white;
    border:1px solid black;
    z-index:1000;
    width:400px;
}
#createDropArea {
    width:200px; height:150px;
    border:2px dashed gray;
    display:flex; align-items:center; justify-content:center;
    background-size:cover;
    background-position:center;
}

img.blocked{
    filter:grayscale(100%) brightness(60%);
    transform: filter 0.3s ease;
}