* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #a8b3ac;
    margin-left: 0;
    margin-right: 0;
    border: 1px solid #a8b3ac;
    display: block;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 0;
}

#adminlogin {
    background-color: aliceblue;
    color: black;
    height: 30px;
}

#userlogin {
    background-color: aliceblue;
    color: black;
    height: 30px;
}

#signup {
    background-color: aliceblue;
    color: black;
    height: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;

    top:80px;
    z-index: 1000;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #111111;
}

.contents {
    height: 100%;
    width: 70%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
}


.calendar {
    width: 100%;
    height: 685px;
    border: 1px solid black;
    margin-right: 1em;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

    .calendar .tab {
        height: 3%;
    }

.tab button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    line-height: calc(50%);
}


.day {
    width: calc(100%/7);
    height: calc(97%/5);
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

.day:hover {
    background-color: #f2f2f2;
}

.tab {
    position: relative;
    width: 100%;
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.hidden {
    display: none;
}


.profile {
    width: 50%;
    margin: 0;
    border-right: 1px solid black;
    height: 100%;
}

    .profile * {
        margin: 0;
        padding: 0;
    }

    .profile input {
        height: 1.5em;
    }

.time-slot {
    width: 100%;
    padding: 12px 20px;
    border-bottom: 1px solid #ddd;
    background-color: white;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s ease;
}

.time-slot:hover {
    background-color: #f0f0f0;
}

.time-slot.selected {
    background-color: #4CAF50;
    color: white;
    border-color: #45a049;
}

.time-slot.selected:hover {
    background-color: #45a049;
}

#confirmBooking {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin-left: auto;
}

#confirmBooking:hover {
    background-color: #45a049;
}

#confirmBooking:active {
    background-color: #3d8b40;
}

