* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #a8b3ac;
    border: 1px solid #a8b3ac;
    display: block;
    padding-left: 10%;
}
header h1{
    font-size: 35px;
    font-family: Lato, sans-serif;
}
.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 0;
}

#adminlogin {
    background-color: aliceblue;
    color: black;
    height: 30px;
}

#userlogin {
    background-color: aliceblue;
    color: black;
    height: 30px;
}

#signup {
    background-color: aliceblue;
    color: black;
    height: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    display: flex;
    gap: 20px;
    padding-left:10%;
    font-size:18px;
}

    ul li {
        float: none;
        display: inline-block;
    }

        ul li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

            ul li a:hover {
                background-color: #111111;
            }
            
.class1 h2{
    margin-left:10%;
    margin-right:10%;
    font-family: Arial, sans-serif;
}

.contents {
    height: calc(100% - 140px); 
    max-width: 1100px;
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 10px;
}

.sidebar {
    width: calc(100%/3);
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f0f4f8;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    gap: 10px;

}

.creation {
    width: 100%;
    height: 50%;
    padding: 4%;
}

    .creation * {
        margin-bottom: 2px;
    }

.request {
    display:flex;
    text-align:center;
    height:fit-content;
}

.request span {
    height:stretch;
    align-items:center;
}





.requests {
    width: 100%;
    height: 50%;
    background-color: #ffffff;
    border-top: 1px solid #ddd;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-top: 6px;
}

    .requests div {
        /*width:calc(100%/6);
        height:min-content;
        border: 1px solid black;
        flex:1;*/
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /*height: calc(100%/13);*/
        background-color:lightgray;
    }

        .requests div:hover {
            cursor: pointer;
        }

        .requests div * {
            width: calc(100%/4);
            user-select:none;
            /*padding-left:2.5%;
        padding-right:2.5%;*/
            border: 1px black solid;
            display: flex;
            justify-content: center;
        }

.requestApproval {
    position: absolute;
    height: min-content;
    width: auto;
    background-color: black;
    display: flex;
    gap: 0;
    z-index: 10;
}





.listings {
    width: calc(100%*2/3);
    height: 100%;
    background-color: aliceblue;
}

.booking {
    width: 100%;
    height: calc(100%/14);
    display: flex;
    flex-direction: row;
    background-color: green;
}

    .booking div {
        width: calc(100%/3);
        height: 100%;
        border: 1px solid black;
        padding-top: 1%;
        padding-bottom: 1%;
        color: white;
        padding-left: 2.5%;
    }

    .booking:hover div {
        width: calc(80%/3);
    }

    .booking:hover button {
        display: block;
        width: 10%;
    }



    .booking:not(hover) button {
        display: none;
    }

.hidden {
    display: none;
}
