* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #a8b3ac;
    border: 1px solid #a8b3ac;
    display: block;
    padding-left: 10%;
}

header h1{
    font-size: 35px;
    font-family: Lato, sans-serif;
}
.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 0;
}

#adminlogin {
    background-color: aliceblue;
    color: black;
    height: 30px;
}

#userlogin {
    background-color: aliceblue;
    color: black;
    height: 30px;
}

#signup {
    background-color: aliceblue;
    color: black;
    height: 30px;
}

.navBar {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    display:flex;
    padding-left: 10%;
    gap:20px;
    background-color: #333333;
    font-size: 18px;
    position: relative;
    z-index: 1000;
}

.navBar li {
float: left;
}

.navBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navBar li a:hover {
    background-color: #111111;
}

.contents {
    height: 100%;
    width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    font-size: 25px;
    margin-top: 8px;
    overflow-y:auto;
    margin-left:10%;
}

.contents h2{
    text-align: center;
    text-justify: auto;
    font-size: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display:flex;
    justify-content:center;
    align-items: center;
    color: white;
    height: 20vh;
    background-image: url("../img/backgroundStats.png");
    margin-top:5px;
    border-radius: 5px;
    box-shadow: 0 4px 8px black;
}
.chart-container{
    width: 420px;
    max-width: 90%;
    margin: 10px auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    z-index: 0; 
}

.chart-container canvas{
    width: 100% !important;
    height: 500px !important;
}

.chart-with-list h3 {
    margin: 8px 0 4px 0;
    text-align: center;
}

.chart-with-list ul {
    list-style: none;
    
    margin: 0 8px 8px 8px;
    font-size: 16px;
}

.charts-row{
    display: flex;
    gap: 300px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
