* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #a8b3ac;
    border: 1px solid #a8b3ac;
    display: block;
    padding-left: 10%;
}

header h1{
    font-size: 35px;
    font-family: Lato, sans-serif;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 0;
}

#adminlogin {
    background-color: aliceblue;
    color: black;
    height: 30px;
}

#userlogin {
    background-color: aliceblue;
    color: black;
    height: 30px;
}

#signup {
    background-color: aliceblue;
    color: black;
    height: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    display:flex;
    padding-left: 10%;
    gap:20px;
    background-color: #333333;
    font-size: 18px;
}

ul li {
    float: none;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #111111;
}

.contents {
    height: 100%;
    width: 85%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

footer{
    text-align: center; 

}