* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #a8b3ac;
    border: 1px solid #a8b3ac;
    display: block;
    padding-left: 10%;
}
header h1{
    font-size: 35px;
    font-family: Lato, sans-serif;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 0;
}

#adminlogin {
    background-color: aliceblue;
    color: black;
    height: 30px;
}

#userlogin {
    background-color: aliceblue;
    color: black;
    height: 30px;
}

#signup {
    background-color: aliceblue;
    color: black;
    height: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    display:flex;
    padding-left: 10%;
    gap:20px;
    background-color: #333333;
    font-size: 18px;
}

    ul li {
        float: none;
    }

        ul li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

            ul li a:hover {
                background-color: #111111;
            }

.contents {
    height: calc(100% - 120px); /* basic space for header + nav */
    max-width: 1100px;
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 10px;
}


.sidebar {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f0f4f8;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;

}



.creation, .requests {
    width: 100%;
    height: 100%;
    padding: 4%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

    .creation, .requests * {
        margin-bottom: 2px;
    }



.listings {
    width: 70%;
    height: 100%;
    background-color: green;
    
}

.booking, .pending {
    width: 100%;
    height: calc(100%/14);
    display: flex;
    flex-direction: row;
    background-color: green;
}

.booking div {
    width: calc(100%/3);
    height: 100%;
    border: 1px solid black;
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
    padding-left: 2.5%;
}

.booking:hover div {
    width: calc(80%/3);
}

.booking:hover button, .pending:hover button {
    display: block;
    width: 10%;
}



.booking:not(hover) button , .pending:not(hover) button{
    display: none;
}

.pending div {
    width: calc(100%/4);
    height: 100%;
    border: 1px solid black;
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
    padding-left: 2.5%;
}

.pending:hover div {
    width: calc(80%/4);
}

.hidden {
display: none;
}

.centered {
display: flex;
justify-content: center;
}