* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: aliceblue;
    margin: 0;
    padding: 0;
}

header {
    background-color: #a8b3ac;
    border: 1px solid #a8b3ac;
    display: block;
    padding-left: 10%;
}
header h1{
    font-size: 35px;
    font-family: Lato, sans-serif;
}
.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 0;
}
#profile{
    height: 30px;
    border:solid black 1px;
}

#logout {
    background-color: aliceblue;
    height: 30px;
    border: solid black 1px;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    display:flex;
    padding-left: 10%;
    gap:20px;
    background-color: #333333;
    font-size: 18px;
}

    ul li {
        float: left;
    }

        ul li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

            ul li a:hover {
                background-color: #111111;
            }
.class1{
    text-align: center;
    text-justify: auto;
    font-size: 25px;
    background-image:url("../img/background_image.png");
    margin: 5px 10% 0 10%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display:flex;
    justify-content:center;
    align-items: center;
    color: black;
    height: 25vh;
    font-family: opensans, sans-serif; 
    border-radius: 5px;

}
.contents {
    width: 70%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-color: rgb(179, 219, 198);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    gap: 10%;
    padding:10px;
    font-size: 20px;
}

.contents img { 
    width:200px; 
    height:200px;
    object-fit:cover;
    margin:8px; 
    cursor:pointer; 
    border:1px solid #ccc; 
}

img.blocked{
    filter:grayscale(100%) brightness(60%);
    transform: filter 0.3s ease;
}