* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: aliceblue;
    margin: 0;
    padding: 0;
}

header {
    background-color: #a8b3ac;
    margin-left: 0;
    margin-right: 0;
    border: 1px solid #a8b3ac;
    display: block;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 0;
}

#adminlogin {
    background-color: aliceblue;
    color: black;
    height: 30px;
}

#userlogin {
    background-color: aliceblue;
    color: black;
    height: 30px;
}

#signup {
    background-color: aliceblue;
    color: black;
    height: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

    ul li {
        float: left;
    }

        ul li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

            ul li a:hover {
                background-color: #111111;
            }

.contents {
    width: 70%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-color: yellow;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
}

.contents img { 
    width:120px; 
    height:120px;
    object-fit:cover;
    margin:8px; 
    cursor:pointer; 
    border:1px solid #ccc; 
}

img.blocked{
    filter:grayscale(100%) brightness(60%);
    transform: filter 0.3s ease;
}