body{
    background-image:url("../img/concordiaBG.png");
}

.box{
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 0 4px 8px rgb(0,0,0.2);
    padding-left: 10px;
    padding-bottom:20px;
    border-radius: 15px;
    font-size: larger;
    background-color: aliceblue;
}

input{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    height: 25px;
}
#lastName{
    width: 43.5%;
}
#firstName{
    width: 43.5%;
}

.role {
  text-align: left;
  margin-left: 5%;
  margin-top: 10px;
}

.role label {
  display: inline-flex;
  align-items: center;
  margin-right: 15px; /* space between User and Admin */
  font-size: large;
}

.role input[type="radio"] {
  margin-right: 5px; /* space between checkbox and text */
  width: auto;       /* overrides your global input width */
  height: auto;
}
#signin{

    margin-top:10px;
    height: 40px;
    width: 91.2%;
    background-color: rgb(99, 21, 21);
    color: white;
    font-size: larger;
}